@import  "../utils/_variables.scss";
@import  "../utils/_mixins.scss";

  #homepage{
    @include mobile;
    .menus{
      background-color: #f7f7f7;
      margin-bottom: 2rem;
      padding: 0 14px;
      & h2{
        font-weight: 700;
        font-size: 24px;
        padding-left: 20px;
        margin-top: 48px;
        padding: 54px 20px 0;
      }
      .menus__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width: 1000px){
          grid-template-columns: repeat(1, 1fr) ;
        }
        .card__new {
          position: relative;
        }
        .card__new::before {
          content:"Nouveau";
          position: absolute;
          background-color:$color-tertiary;
          color:#008766;
          width: 80px;
          height: 29px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          border-radius: 2px;
          display: grid;
          place-items: center;
          right: 1rem;
          top: 1rem;
          
        }
      }
      .card{
          &__image{
            height: 14rem;
            background-size: cover;
            background-position: center;
            border-radius: 1rem 1rem 0 0; 
          }
          &__image-1{
            background-image: url("../assets/image/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        }
        &__image-2{
          background-image: url("../assets/image/stil-u2Lp8tXIcjw-unsplash.jpg");
          background-position: center;
        }
        &__image-3{
          background-image: url("../assets/image/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
          
        }
        &__image-4{
          background-image: url("../assets/image/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        }
        &__description {
          position: relative;
          background-color: white;
          border-radius: 0 0 1rem 1rem;
          @include heart-animated;
          p{
            padding: 5px 13px 12px;
          font-weight: 300;
          font-size: 17px;
        }
        h3{
          margin: 0 22px 5px 13px; 
             font-size: 18px;
             padding-top: 1rem;
            }
          }
        }
      }
    }
  
