@import  "../utils/_mixins.scss";
@import  "../utils/_variables.scss";
@import  "../utils/colors";

.tuto  {
    counter-reset: steps;
    & h2{
        font-weight: 700;
        font-size: 24px;
        padding-left: 20px;
        margin-top: 48px;
    }
    & ol{
        list-style-type: none;
        display: flex;
        gap:2rem;
        padding:0 20px 0 32px;
        @media (max-width:1000px) {
            flex-direction: column;
                }
    }
    & li{
        position: relative;
        display: flex;
        align-items: center;
       &::before{
        content: counter(steps);
        counter-increment: steps;
        color: white;
        background-color:$first-color;
        width: 2 * $tuto-height;
        height: 2 * $tuto-height;
        display: grid;
        place-items: center;
        border-radius: 50%;
        position: absolute;
        bottom: $tuto-height;;
        left: -$tuto-height;;

       }
        background-color: #f7f7f7;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        
     &:hover{
        @include zoom;
        background-color: lighten($first-color, 35%);
        i::before{
            color: $first-color;
        }
     }
     & i.fa-solid{
        margin-right: 1rem;
        color:#7E7E7E;
        font-size: 1.2rem;
     }
    }
}